<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>stuwebfk blog</title>
</head>
<body>
    <header>
        <a href="/">首页</a>
    </header>
    <div id="content">
    <h1>更改文章内容</h1>
    <form action="/update/<%=locals.article.id%>" method="post" enctype="multipart/form-data">
        <label>文章标题<input type="text" name="title" value="<%=locals.article.title%>"/></label>
        <label>
            <input type="file" name="img"/>
        </label>
        <label>文章类别
            <select name="type">
            <% locals.types.forEach(function(type){ %>
                <option value="<%=type.id%>" <%= type.id === locals.article.typeId ? "selected" :"" %>><%=type.title%></option>
            <% }) %>       
            </select>
        </label>
        <label>文章内容
            <textarea name="content" value="<%=locals.article.content%>"></textarea>
        </label>
        <label><input type="submit" value="更新文章"/></label>
    </form>
    </div>
    <style>
        label{
            display:block;
        }
    </style>
</body>
</html>